<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zdl"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--启动页面-->
        <activity
            android:name=".ui.EnterActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ui.base.ContainerActivity"
            android:launchMode="singleTop"/>
    </application>

</manifest>